on:
  schedule:
    - cron: '0 0 1 1-12 *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

name: Update License Files
jobs:
  update_licenses:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Setup Python
        uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # v4
        with:
          python-version: '3.10'
      - name: Install Requests
        run: pip install requests
      - name: Run Script
        run: python scripts/update_licenses.py
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@153407881ec5c347639a548ade7d8ad1d6740e38 # v5
        with:
          title: Update Licenses and Exceptions
          branch-suffix: random
          draft: false
          add-paths: 'anaconda_linter/data/*.txt'
